Repository axieum/minecord, pull requests merged in 2022-10, with the labels that each got.

#62 feat: add player avatars to certain messages (closes #31)
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/Minecord.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/MinecordImpl.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/config/MinecordConfig.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/config/MiscConfig.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerChangeWorldCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerConnectionCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerDeathCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/util/DiscordDispatcher.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/CustomCommand.java
Labels: minecord-api, hacktoberfest-accepted, minecord-chat, minecord-cmds

#64 docs: update and generate Javadoc distributions (closes #36)
  build.gradle
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/addon/MinecordAddon.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/event/JDAEvents.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/event/ServerShutdownCallback.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/util/StringTemplate.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/util/StringUtils.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/MinecordImpl.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/callback/DiscordLifecycleListener.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/callback/ServerLifecycleCallback.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/config/BotConfig.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/config/I18nConfig.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/config/MinecordConfig.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/config/MiscConfig.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/mixin/api/CrashReportAccessor.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/api/chat/event/ChatPlaceholderEvents.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/api/chat/event/minecraft/EntityDeathEvents.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/api/chat/event/minecraft/GrantCriterionCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/api/chat/event/minecraft/TellRawMessageCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/MinecordChat.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/discord/MessageReactionListener.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/discord/MessageReceivedListener.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/discord/MessageUpdateListener.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/EntityDeathCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerAdvancementCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerChangeWorldCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerConnectionCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/PlayerDeathCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/ServerLifecycleCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/ServerMessageCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/config/ChatConfig.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/api/cmds/command/MinecordCommand.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/api/cmds/event/JDACommandEvents.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/api/cmds/event/MinecordCommandEvents.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/MinecordCommandsImpl.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/callback/DiscordCommandListener.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/CustomCommand.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/TPSCommand.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/UptimeCommand.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/config/CommandConfig.java
  minecord-presence/src/main/java/me/axieum/mcmod/minecord/api/presence/category/PresenceCategory.java
  minecord-presence/src/main/java/me/axieum/mcmod/minecord/api/presence/event/PresencePlaceholderCallback.java
  minecord-presence/src/main/java/me/axieum/mcmod/minecord/impl/presence/MinecordPresenceImpl.java
  minecord-presence/src/main/java/me/axieum/mcmod/minecord/impl/presence/PresenceUpdateTask.java
  minecord-presence/src/main/java/me/axieum/mcmod/minecord/impl/presence/config/PresenceConfig.java
Labels: documentation, enhancement, build, minecord-api, hacktoberfest-accepted, minecord-chat, minecord-cmds, minecord-presence

#65 fix(minecord-api): escape special regex characters in StringTemplate
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/util/StringTemplate.java
  minecord-api/src/test/java/me/axieum/mcmod/minecord/api/util/StringTemplateTests.java
Labels: minecord-api

#66 Added new chat events to README
  README.md
Labels: documentation, hacktoberfest-accepted

#69 feat: upgrade Minecraft (1.19 -> 1.19.2)
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  minecord-api/build.gradle
  minecord-api/gradle.properties
  minecord-api/src/main/java/me/axieum/mcmod/minecord/api/addon/MinecordAddon.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/MinecordImpl.java
  minecord-api/src/main/java/me/axieum/mcmod/minecord/impl/callback/DiscordLifecycleListener.java
  minecord-api/src/main/resources/fabric.mod.json
  minecord-chat/build.gradle
  minecord-chat/gradle.properties
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/api/chat/event/ChatPlaceholderEvents.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/discord/MessageReactionListener.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/ServerLifecycleCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/callback/minecraft/ServerMessageCallback.java
  minecord-chat/src/main/java/me/axieum/mcmod/minecord/impl/chat/util/DiscordDispatcher.java
  minecord-chat/src/main/resources/fabric.mod.json
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/api/cmds/command/CooldownScope.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/callback/DiscordCommandListener.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/CustomCommand.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/TPSCommand.java
  minecord-cmds/src/main/java/me/axieum/mcmod/minecord/impl/cmds/command/discord/UptimeCommand.java
  minecord-cmds/src/main/resources/fabric.mod.json
  minecord-presence/src/main/java/me/axieum/mcmod/minecord/impl/presence/MinecordPresenceImpl.java
  minecord-presence/src/main/resources/fabric.mod.json
  src/main/resources/fabric.mod.json
Labels: build, minecord, minecord-api, minecord-chat, minecord-cmds, minecord-presence
